nav a {
    color: white;
  }
  
  nav a:hover {
    color: blue;
    font-weight: bold;
  }

  nav a:focus { 
    color: blue; 
    cursor: default;
}

work a {
    color: black;
}

  a:link { 
    text-decoration: none; 
}


contact a {
    color: black;
    padding: 10px;
}

contact p {
    color: white;
    padding-right: 110px;
}

.headerimg {
    width: 120%;
    height: auto;
    margin-top: 20px;
    margin-left: -70px;
}

card:hover {
    box-shadow: 25px 25px 20px blue;
}

.icon {
    padding: 0px 8px;
    height: 30px;
    width: auto;
}

.icon:hover {
    border: solid 1px blue;
    border-radius: 5px 5px;
    box-shadow: 5px 5px 5px blue;
}

/* Tablets */
@media screen and (max-width: 992px) {
    body {
        margin: 8px;
    }
    nav a {
        margin-left: 6px;
    }

    .aboutTwo {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .resumeTwo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    card {
        width: 85%;
    }
  }

 /* Large smartphones */
 @media screen and (max-width: 768px) {
    body {
        margin-left: 8px;
    }

    .aboutMe {
        margin-left: -20px;
    }

    .aboutTwo {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .resumeTwo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    card {
        width: 85%;
    }

  }

   /* Small smartphones */
   @media screen and (max-width: 576px) {
    body {
        margin-left: 10px;
    }

    .aboutMe {
        margin-left: -20px;
    }

    .aboutTwo {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .resumeTwo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    card {
        width: 85%;
    }
}