nav a {
    color: white;
  }
  
  nav a:hover {
    color: blue;
    font-weight: bold;
  }

work a {
    color: black;
}

  a:link { 
    text-decoration: none; 
}


contact a {
    color: black;
    padding: 10px;
}

contact p {
    color: white;
    padding-right: 110px;
}

.downArrow {
    width: 240px;
    height: auto;
    margin-top: -35px;
    margin-bottom: -50px;
}

card:hover {
    box-shadow: 25px 25px 20px blue;
}

.icon {
    padding: 0px 8px;
    height: 30px;
    width: auto;
}

.icon:hover {
    border: solid 1px blue;
    border-radius: 5px 5px;
    box-shadow: 5px 5px 5px blue;
}
